In [1]:
import pymongo
import pandas

In [2]:
client = pymongo.MongoClient(
    "mongodb+srv://Olawin:qQe4RTzaFhDBgYoI@cluster0.24uvl.mongodb.net/School?retryWrites=true&w=majority&ssl=true&ssl_cert_reqs=CERT_NONE")
db = client.School

C:\Users\lucaz\anaconda3\envs\god\lib\site-packages\pymongo\common.py:771: UserWarning: Unknown option ssl_cert_reqs
  warnings.warn(str(exc))

In [11]:
#bisongna aggiungere il campo downloads
db.Verifiche.insert_one({"tipo":"Progettazione","corso":"Istituto Tecnico","materia":"Informatica","difficoltrà":"1","testo_verifica":{"titolo":"Sistemi e reti","formato":"pdf"},"tempo_prova":"60","docenti":[{"nome":"Annalisa","cognome":"Apicella"}], "griglia_valutazione":{"titolo":"Operazioni CRUD in Mongodb","formato":"pdf"},"data_ideazione":"2022-12-5"})

In [9]:
nome_docente = str(input("\n inserisci il nome del docente"))
cognome_docente = str(input("\n inserisci il cognome del docente"))
pandas.DataFrame(list(db.Verifiche.find({"docenti.nome":nome_docente, "docenti.cognome":cognome_docente },{"_id":0,"testo_verifica.titolo":1,"tempo_prova":1,"difficoltà":1}).sort("testo_verifica.titolo",1)))

          testo_verifica tempo_prova difficoltà
0  {'titolo': 'MongoDB'}         120          1
1    {'titolo': 'Neo4j'}          90          1

In [37]:
#dovrebbe essere maggiore di 50
pandas.DataFrame(list(db.Verifiche.aggregate([{"$unwind":"$docenti"},{"$group":{"_id":{"nome":"$docenti.nome","cognome":"$docenti.cognome"},"count":{"$count":{}}}},{"$match":{"count":{"$gt":1}}},{"$sort":{"count":-1}}])))

                                           _id  count
0  {'nome': 'Annalisa', 'cognome': 'Apicella'}      3
1   {'nome': 'Riccardo', 'cognome': 'Spadoni'}      2

In [52]:
db.Verifiche.delete_one({"downloads":{"$lt":1}})

In [54]:
db.Verifiche.update_one({"materia":"Gestione Progetti"},{"$set":{'materia':"Gestione Progetti Aziendale"}})

In [32]:
pandas.DataFrame(list(db.Student.aggregate([{"$unwind":"$Voti"},{"$group":{"_id":"$nome","avg":{"$avg":"$Voti.voto"}}}])))

      _id       avg
0  Andrea  6.125000
1    Luca  5.833333